.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 100px 20px 60px;
  margin: 100px 0 0;
}

.about-me h2 {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

/*=================================
===========QUOTE SECTION===========
=================================*/
.qoute-container {
  width: 100%;
  max-width: 830px;
  margin-bottom: 40px;
  position: relative;
}

.qoute-container::before {
  content: "";
  background-image: url("/assets/images/sticker-hi.webp");
  position: absolute;
  top: -214px;
  left: 46px;
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.quote {
  position: relative;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  padding: 50px 80px;
  background-color: #1a1a1a;
  border-radius: 8px;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  hyphens: auto;
}

.quote::before,
.quote::after {
  position: absolute;
  font-size: 8rem;
  color: #a986fc;
  opacity: 0.5;
  line-height: 1;
}

.quote::before {
  content: "“";
  top: 10px;
  left: 15px;
}

.quote::after {
  content: "”";
  bottom: -40px;
  right: 15px;
}

/*=================================
===========MEDIA QUERIES===========
=================================*/
@media (max-width: 1200px) {
  .about-me {
    padding: 100px 20px 0;
    margin: 50px 0 0;
  }

  .qoute-container {
    width: 100%;
    max-width: 630px;
    margin-bottom: 40px;
    position: relative;
  }

  .qoute-container::before {
    top: -180px;
    left: 0px;
    width: 220px;
    height: 220px;
  }

  .quote {
    padding: 40px 80px;
    font-size: 1rem;
  }

  .about-me h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .qoute-container::before {
    height: 190px;
    top: -150px;
  }
  .quote {
    position: relative;
  }

  .about-me {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .qoute-container::before {
    height: 200px;
    top: -160px;
    left: 60px;
  }

  .about-me h2 {
    margin-bottom: 140px;
  }

  .quote {
    padding: 50px 36px;
    font-size: 15px;
  }

  .quote::before,
  .quote::after {
    font-size: 6rem;
  }

  .quote::before {
    top: 5px;
    left: 10px;
  }

  .quote::after {
    bottom: -46px;
  }
}
