/*===================================
=========GENERAL FOOTER STYLES========
===================================*/
footer {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer a {
  font-size: 1.1rem;
  color: #bb86fc;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffffff;
}

/*===================================
=======FOOTER STRUCTURE AND LAYOUT=======
===================================*/
.footer-wrapper {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 0;
}

.footer-group {
  display: flex;
  gap: 26px;
}

.footer-title {
  display: flex;
  align-items: center;
}

.footer .connection {
  display: flex;
  align-items: center;
}

.phone-number {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 5px;
}

.footer .connection span {
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 2px;
}

.footer .logo {
  height: 100%;
  display: inline-flex;
}

.footer .logo img {
  height: 30px;
  width: auto;
}

/*===================================
============MEDIA QUERIES============
===================================*/
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 14px;
  }

  .footer-group {
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .footer-wrapper {
    gap: 12px;
  }

  .footer-group {
    gap: 10px;
  }

  footer a,
  footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .footer-group {
    align-items: center;
  }

  .footer .logo {
    align-items: center;
  }

  .footer .logo img {
    align-items: center;
  }

  .connection {
    flex-direction: column;
  }

  .footer-wrapper {
    padding: 0;
  }
}

@media (max-width: 440px) {
  .footer-group:nth-child(2) {
    flex-direction: column;
  }
}
