/*===================================
========GENERAL HERO STYLES========
===================================*/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  border-bottom: none;
  padding: 0;
}

/*===================================
========HERO CONTENT CONTAINER========
===================================*/
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
}

/*===================================
===========HERO LOGO===========
===================================*/
.hero-logo img {
  width: 100%;
  width: auto;
  height: 215px;
  margin-bottom: 30px;
}

/*===================================
============HERO TEXT============
===================================*/
.hero-content h1 {
  font-size: 2rem;
  color: #f3eeff;
  margin-bottom: 28px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

/*===================================
============HERO BUTTON============
===================================*/
.hero-button {
  box-sizing: border-box;
  color: #ffffff;
  padding: 15px 26px;
  border-radius: 30px;
  border: none;
  outline: 2px solid transparent;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  background: transparent;
  border: 2px solid #ffffff;
}

.hero-button:hover {
  background-color: #c09ee7;
  border-color: #c09ee7;
  color: #30203f;
}

.hero .hero-button:focus {
  border-color: #c09ee7 !important;
}

/*===================================
============ARROW ICON============
===================================*/
.arrow-icon {
  position: absolute;
  height: 50px;
  width: auto;
  bottom: 50px;
  animation: smoothBounce 2s ease-in-out infinite;
}

/*===================================
=========HERO KEYFRAMES=========
===================================*/
@keyframes smoothBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*===================================
========HERO MEDIA QUERIES========
===================================*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .hero-logo img {
    height: 150px;
  }
  .hero-content h1 {
    font-size: 1.5rem;
  }
  .hero-button {
    font-size: 1rem;
    border-width: 1px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 90vh;
  }
}

@media (orientation: landscape) and (max-height: 680px) {
  .hero-logo img {
    height: 100px;
    margin-bottom: 10px;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content h1 {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  .hero-button {
    font-size: 14px;
    padding: 12px 20px;
  }

  .arrow-icon {
    height: 36px;
    bottom: 10px;
  }
}
