/*===================================
======GENERAL STUDYING STYLES======
===================================*/
.studying-wrapper {
  background-image: url("/assets/images/sections-bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.studying-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*===================================
======STUDYING SECTION TITLE======
===================================*/
.studying-container h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 2.25rem;
}

/*===================================
======COURSES GRID/COLUMNS======
===================================*/
.courses-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

/*===================================
=========COURSE CARD STYLES=========
===================================*/
.course-card {
  background-color: #140f1d9f;
  border-radius: 10px;
  padding: 40px 60px;
  text-align: left;
  color: #e0e0e0;
  border: 1px solid #cfbeff;
  hyphens: auto;
}

.course-card .price {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #5f4e8f;
  border-radius: 99px;
  font-weight: 500;
  color: #dbd1ff;
}

.course-price {
  text-align: center;
  background-color: #a181ec8c;
  border-radius: 99px;
  padding: 5px 80px;
  width: fit-content;
  display: flex;
}

/*===================================
========SPECIFIC COURSE CARDS========
===================================*/
.course-card-base {
  background: #33365f96;
}
.course-card-full {
  background: #45326e98;
}

.course-card-full .course-price {
  background-color: #b8a4ff8c;
}

/*===================================
========COURSE CARD HEADER========
===================================*/
.course-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*===================================
========COURSE CARD HEADINGS========
===================================*/
.course-card h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.course-card h3 {
  color: #e9d6ff;
  font-size: 1.75rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

.course-card h4 {
  color: #c7b7ff;
  font-size: 1.3rem;
  margin: 28px 0 12px 14px;
  text-align: left;
}

/*===================================
======COURSE CARD TEXT AND LISTS======
===================================*/
.course-card p {
  margin: 10px 0;
  line-height: 1.6;
  color: #e0e0e0;
}

.course-card ul {
  padding-left: 20px;
  margin: 10px 0;
}

.course-card li {
  margin-left: 8px;
  margin-bottom: 8px;
  line-height: 1.4;
  color: #e0e0e0;
  hyphens: auto;
}

/*===================================
======STUDYING MEDIA QUERIES======
===================================*/

@media (max-width: 1200px) {
  .course-card {
    padding: 40px 30px;
  }
}

@media (max-width: 992px) {
  .studying-container h2 {
    font-size: 1.85rem;
    margin-bottom: 30px;
  }
  .course-card {
    padding: 40px 16px;
  }
  p.course-price {
    padding: 5px 40px;
  }
  .course-section li {
    line-height: 1.3;
  }
  .course-card h4 {
    text-align: center;
    margin: 24px 14px 10px;
  }
  .course-card li {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .hero-logo img {
    height: 150px;
  }
  .hero-content h1 {
    font-size: 1.5rem;
  }
  .course-header h3 {
    font-size: 1.5rem;
  }

  .hero-button {
    font-size: 1rem;
    border-width: 1px;
  }
  .courses-columns {
    grid-template-columns: repeat(1, 1fr);
    max-width: 600px;
  }
  .course-price {
    padding: 5px 40px !important;
  }
  .course-section li {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .course-card {
    padding: 30px 40px;
  }
  .course-card h4 {
    margin: 20px;
  }
}
@media (max-width: 576px) {
  .studying-container h2 {
    font-size: 1.5rem;
    margin: 80px 0 20px;
  }
  h4.section-title {
    font-size: 1.2rem;
    margin: 18px 10px;
  }
  .course-header h3 {
    font-size: 1.4rem;
  }
  .studying-container {
    padding: 20px;
  }
  .course-price {
    font-size: 1rem;
  }
  .course-section li {
    font-size: 1rem;
  }
  .course-card {
    padding: 26px 18px;
  }
}
