/* components/Tabs.css */
nav.tabs {
  position: absolute;
  width: 100%;
  background-color: #0a0a0a;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center; /* Додано для вертикального центрування кнопок */
  padding: 10px 20px;
  gap: 50px;
  z-index: 999; /* Переконайся, що це потрібно саме тут */
}

.tabs button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 4px 7px 6px; /* Додано для кращої клікабельності */
  letter-spacing: 0.5px;
  border-bottom: 1.5px solid #bb86fc00;
  transition: all 0.25s ease-in-out;
}

.tabs button:hover {
  color: #bb86fc;
}

.tabs button.active {
  border-bottom: 1.5px solid #bb86fc;
  color: #bb86fc;
  /* Можна додати нижнє підкреслення для активного табу */
  /* border-bottom: 2px solid #bb86fc; */
}

/* Стилі для .tab-content, якщо вони відносяться до табів. Якщо ні - перенести в global або інший компонент */
.tab-content {
  text-align: center;
  padding: 20px; /* Приклад */
}
