/*===================================
========GENERAL HERO STYLES========
===================================*/
.hero {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  border-bottom: none;
  padding: 0;
}

/*===================================
========HERO CONTENT CONTAINER========
===================================*/
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 70px;
}

/*===================================
===========HERO LOGO===========
===================================*/
.hero-logo img {
  width: 100%;
  width: auto;
  height: 215px;
  margin-bottom: 30px;
}

/*===================================
============HERO TEXT============
===================================*/
.hero-content h1 {
  font-size: 2.5rem;
  color: #e3d8ff;
  margin-bottom: 28px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;

  background: linear-gradient(160deg, #ffffff, #c9aaff, #bb94ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-repeat: no-repeat;

  position: relative;
  z-index: 1;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.4),
    0 0 50px rgba(201, 170, 255, 0.25), 0 0 75px rgba(178, 133, 255, 0.2);
}

.hero-content p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

/*===================================
============HERO BUTTON============
===================================*/
.hero-button {
  box-sizing: border-box;
  color: #ffffff;
  padding: 15px 26px;
  border-radius: 30px;
  border: none;
  outline: 2px solid transparent;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  background: transparent;
  border: 2px solid #ffffff;
  box-shadow: 0 0 18px rgba(197, 174, 255, 0.3),
    inset 0 0 10px rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
  background-color: #ffffff06;
}

.hero-button:hover {
  background-color: #c3a1ff;
  border-color: #c3a1ff;
  color: #55396f;
  box-shadow: 0 0 12px rgba(197, 174, 255, 0.8),
    inset 0 0 10px rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/*===================================
============ARROW ICON============
===================================*/
.arrow-icon {
  position: absolute;
  height: 50px;
  width: auto;
  bottom: 50px;
  animation: smoothBounce 2s ease-in-out infinite;
}

/*===================================
=========HERO KEYFRAMES=========
===================================*/
@keyframes smoothBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*===================================
========HERO MEDIA QUERIES========
===================================*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .hero-logo img {
    height: 150px;
  }
  .hero-content h1 {
    font-size: 1.5rem;
  }
  .hero-button {
    font-size: 1rem;
    border-width: 1px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 88vh;
    background-size: 700px 100%;
  }
}

@media (orientation: landscape) and (max-height: 680px) {
  .hero-logo img {
    height: 100px;
    margin-bottom: 10px;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content h1 {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  .hero-button {
    font-size: 14px;
    padding: 12px 20px;
  }

  .arrow-icon {
    height: 36px;
    bottom: 10px;
  }
}
